[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ion/Desktop/RIDDLE JOKER Character Song Vol.2 Sympathy  Nanami Arihara]
row=0
col=0

[/home/ion/Desktop/Blur.desktop]
row=2
col=0

[/home/ion/Desktop/Blur.lnk]
row=1
col=0

[/home/ion]
row=3
col=0

